In [3]:
import pandas as pd

<img src="lec28.png">

In [9]:
# Excel形式のファイルを読み込めます。  sheetnameでどのシートを読み込むかを指定してやる。
dframe = pd.read_excel('Lec_28_test.xlsx', sheetname='Sheet1')   #header引数で列名をどうするか指定できる。　names でもできる。

In [10]:
#セルを連結しても一つ目のcolumnにしか値が入らない。　 セルが連結しているエクセルはなるべく使わない方が良い。
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [15]:
import numpy as np
pd.DataFrame(np.arange(9).reshape(3,3),index=[1,2,3],columns=['a','b','c'])

   a  b  c
1  0  1  2
2  3  4  5
3  6  7  8

他にも様々なオプション引数がある。
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html