In [2]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [3]:
!cat lec25.csv  #UNIX系だと!のあとにコマンドが打てる。

q,r,s,t,apple
2,3,4,5,pear
a,s,d,f,rabbit
5,2,5,7,dog

In [4]:
!pwd

/Users/yohei/Documents/Udemy_data_science/Data_analysis-basic1

In [5]:
# CSVファイルをdataframeにできます。
dframe = pd.read_csv('lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [6]:
# 1行目を列名にしたくないときは、 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　read_csv()はdefaultの区切り文字が’,’
dframe = pd.read_csv('lec25.csv',header=None)   #defaultでheader = 0となっており最初の行を列ラベルだと思って読み込む。
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
# read_tableというメソッドもあります  read_table()はdefaultの区切り文字がタブ  sep (seperate)で指定可能
dframe = pd.read_table('lec25.csv', sep=',', header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [8]:
# 最初から何行読み込むか読み込む行数を指定することもできます。 nrows
pd.read_csv('lec25.csv',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [9]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [10]:
# 保存も簡単です。　to_csvで出力
dframe.to_csv('mytextdata_out.csv')

In [11]:
!cat mytextdata_out.csv

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [12]:
#  出力を画面に出すために
import sys 
# sys.stdout（標準出力）へ直接書き込みます。   sys.stdoutはファイルオブジェクトを返す。　つまり、dframeの内容を区切り文字'_'で標準出力に表示ということ
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [13]:
dframe.to_csv(sys.stdout, sep='\t')

	0	1	2	3	4
0	q	r	s	t	apple
1	2	3	4	5	pear
2	a	s	d	f	rabbit
3	5	2	5	7	dog

In [14]:
# 出力する列を選択することもできます。
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [15]:
#Python標準のCSVモジュールにも目を通しておくとよいかもしれません。
#https://docs.python.org/3.4/library/csv.html