In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
# いくつかサンプルになるデータを作ります。
ser1 = Series([2,np.nan,4,np.nan,6,np.nan],
           index=['Q','R','S','T','U','V'])

# 長さを同じにします。
ser2 = Series(np.arange(len(ser1), dtype=np.float64),
           index=['Q','R','S','T','U','V'])

In [4]:
ser1

Q    2.0
R    NaN
S    4.0
T    NaN
U    6.0
V    NaN
dtype: float64

In [8]:
ser2

Q    0.0
R    1.0
S    2.0
T    3.0
U    4.0
V    5.0
dtype: float64

In [9]:
np.where(pd.isnull(ser1))  #NaNのところのインデックスが返ってくる。

(array([1, 3, 5]),)

In [10]:
np.where(ser1>1)  # 条件式が真のところを返してくれる。

(array([0, 2, 4]),)

In [13]:
# ser1がNaNなら、ser2の値がかえるような演算ができます。
Series(np.where(pd.isnull(ser1),ser2,ser1),index=ser1.index)  # np.where 第一引数:条件式　第二引数:真の場合に返す値　第３引数:真の場合に返す値

Q    2.0
R    1.0
S    4.0
T    3.0
U    6.0
V    5.0
dtype: float64

In [12]:
# 同じ事を、Seriesが持つメソッドで実現できます。
ser1.combine_first(ser2)
# ser1がNaNであれば、ser2の値を使う。

Q    2.0
R    1.0
S    4.0
T    3.0
U    6.0
V    5.0
dtype: float64

In [28]:
# 奇数と偶数からなるDataFrameを作ります。
dframe_odds = DataFrame({'X': [1., np.nan, 3., np.nan],
                     'Y': [np.nan, 5., np.nan, 7.],
                     'Z': [np.nan, 9., np.nan, 11.]})
dframe_evens = DataFrame({'X': [2., 4., np.nan, 6., 8.],
                     'Y': [np.nan, 10., 12., 14., 16.]})

In [29]:
dframe_odds

     X    Y     Z
0  1.0  NaN   NaN
1  NaN  5.0   9.0
2  3.0  NaN   NaN
3  NaN  7.0  11.0

In [30]:
dframe_evens

     X     Y
0  2.0   NaN
1  4.0  10.0
2  NaN  12.0
3  6.0  14.0
4  8.0  16.0

In [31]:
# 先に奇数のDataFrame、NaNなら、偶数の方をとって、2つのDataFrameをつなげてみます。
dframe_odds.combine_first(dframe_evens)

     X     Y     Z
0  1.0   NaN   NaN
1  4.0   5.0   9.0
2  3.0  12.0   NaN
3  6.0   7.0  11.0
4  8.0  16.0   NaN

In [23]:
# いくつかサンプルになるデータを作ります。
ser3 = Series([2,np.nan,4,np.nan,6,np.nan],
           index=['Q','R','S','T','U','V'])

# 長さを同じにします。
ser4 = Series(np.arange(len(ser1), dtype=np.int64),  #型が違ったらキャストしてくれる
           index=list(range(6)))

In [24]:
ser3

Q    2.0
R    NaN
S    4.0
T    NaN
U    6.0
V    NaN
dtype: float64

In [25]:
ser4

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [26]:
Series(np.where(pd.isnull(ser3), ser3, ser4), index=ser3.index)

Q    0.0
R    NaN
S    2.0
T    NaN
U    4.0
V    NaN
dtype: float64