In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# このセルの内容は、理解できなくても大丈夫です。
# ただサンプルになるデータを作りたいだけですので、出来たデータをどのような加工するかに注目してください。

import pandas.util.testing as tm
tm.N = 3

# ちょっとした関数を作ります。
def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return DataFrame(data, columns=['date', 'variable', 'value'])

# DataFrameを作ります。
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
# 入れ子に重なったデータができます。
dframe

         date variable     value
0  2000-01-03        A -0.038099
1  2000-01-04        A -0.057698
2  2000-01-05        A -0.310685
3  2000-01-03        B -0.143278
4  2000-01-04        B -0.153140
5  2000-01-05        B  0.803684
6  2000-01-03        C  0.292639
7  2000-01-04        C -1.029790
8  2000-01-05        C  2.332899
9  2000-01-03        D  2.371248
10 2000-01-04        D  0.333347
11 2000-01-05        D -0.072848

In [4]:
# 行にdate, 列にvariable、これをvalueで埋めます。
dframe_piv = dframe.pivot('date','variable','value')  # DataFrame.pivot('行', '列', '要素')
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.038099 -0.143278  0.292639  2.371248
2000-01-04 -0.057698 -0.153140 -1.029790  0.333347
2000-01-05 -0.310685  0.803684  2.332899 -0.072848

In [5]:
# どのようなピボットテーブルを作るかは、どのよなデータが欲しいかによります。よって作り方は様々。

In [ ]:
dframe_piv = dframe.pivot('date','variable','value')