In [9]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [10]:
#簡単なSeriesを作ってみましょう。
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [11]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [12]:
#  reindexを使って、indexを変えられます。
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [13]:
#元のseriesのインデックスにないところには自動的に、null(NaN)が入ります。
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [14]:
# 新しいindexの値を埋めることもできます。 #defaultでは足りないところにはNaNだが引数指定してやると、実引数の値で埋められる
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [15]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [16]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [17]:
# ffillは、forward fillの略です。 index = 5のMexicoがくるまで前の値であるUSAで埋める。
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
# 行と列の両方について、Reindexを考えます。
# reshapeを使ってDataFrameを作ってみます。
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.508291  1.991158  1.188603 -0.447502  1.264161
B -1.458588  1.353046 -0.460225 -1.098807  0.045589
D -1.709625  0.276506 -0.233631 -0.839293  0.184992
E -1.133393  0.179092 -0.508489 -1.089757  1.640807
F -0.005450 -0.140517 -1.344899  0.954062 -0.129141

In [19]:
# Cを忘れました。 FがNaNになるのではなく、新しく追加されたCがNaNとなる。(dictionaryのキーワード追加と似ている? キーワードが列・行の2つバージョン?)
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index) #第一引数はindex = となっている Siriesのようにfill_value = が使える。
dframe2

       col1      col2      col3      col4      col5
A -1.508291  1.991158  1.188603 -0.447502  1.264161
B -1.458588  1.353046 -0.460225 -1.098807  0.045589
C       NaN       NaN       NaN       NaN       NaN
D -1.709625  0.276506 -0.233631 -0.839293  0.184992
E -1.133393  0.179092 -0.508489 -1.089757  1.640807
F -0.005450 -0.140517 -1.344899  0.954062 -0.129141

In [20]:
#列にも同じような操作ができます。
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns = new_columns)  # reshape同様、ただ参照しているだけなので元は変わっていない。 recolumnsはない

       col1      col2      col3      col4      col5  col6
A -1.508291  1.991158  1.188603 -0.447502  1.264161   NaN
B -1.458588  1.353046 -0.460225 -1.098807  0.045589   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.709625  0.276506 -0.233631 -0.839293  0.184992   NaN
E -1.133393  0.179092 -0.508489 -1.089757  1.640807   NaN
F -0.005450 -0.140517 -1.344899  0.954062 -0.129141   NaN

In [21]:
# ixを使うと、素早くReindexが可能です。
dframe

       col1      col2      col3      col4      col5
A -1.508291  1.991158  1.188603 -0.447502  1.264161
B -1.458588  1.353046 -0.460225 -1.098807  0.045589
D -1.709625  0.276506 -0.233631 -0.839293  0.184992
E -1.133393  0.179092 -0.508489 -1.089757  1.640807
F -0.005450 -0.140517 -1.344899  0.954062 -0.129141

In [25]:
dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A -1.508291  1.991158  1.188603 -0.447502  1.264161   NaN
B -1.458588  1.353046 -0.460225 -1.098807  0.045589   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.709625  0.276506 -0.233631 -0.839293  0.184992   NaN
E -1.133393  0.179092 -0.508489 -1.089757  1.640807   NaN
F -0.005450 -0.140517 -1.344899  0.954062 -0.129141   NaN

In [23]:
dframe.ix[new_index, new_columns]　#.ixメソッドは意味がわかってないと大変なことになるので非推奨となっている。

SyntaxError: invalid character in identifier (<ipython-input-23-5f30dea554d5>, line 1)