In [2]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
# 階層構造があるindexを作ることができます。
ser = Series(randn(6),index=[['x','x','x','y','y','y'],['a','b','c','a','b','c']])

In [4]:
# どうなっているか見てみましょう。
ser

x  a    1.342761
   b    0.746471
   c   -0.109303
y  a    1.477530
   b   -0.876496
   c   -0.716099
dtype: float64

In [5]:
# indexだけ表示してみます。
ser.index

MultiIndex(levels=[['x', 'y'], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
# これを利用できます。
ser['x']

a    1.342761
b    0.746471
c   -0.109303
dtype: float64

In [7]:
ser[0]  #?

1.3427610264384493

In [10]:
ser['y']

a    1.477530
b   -0.876496
c   -0.716099
dtype: float64

In [11]:
ser

x  a    1.342761
   b    0.746471
   c   -0.109303
y  a    1.477530
   b   -0.876496
   c   -0.716099
dtype: float64

In [12]:
# We can also select from an internal index level
ser[:,'a']

x    1.342761
y    1.477530
dtype: float64

In [13]:
#unstack()メッソドを呼ぶと表形式になる。　index = ['x','y'], column = ['a','b','c']
ser.unstack()

          a         b         c
x  1.342761  0.746471 -0.109303
y  1.477530 -0.876496 -0.716099

In [14]:
ser.unstack(level=0)   #引数にlevel=0とすれば外側のインデックスが列になる。  上はdefaultでlevel = 1 となっており内側が列になる。

          x         y
a  1.342761  1.477530
b  0.746471 -0.876496
c -0.109303 -0.716099

In [15]:
# このSeriesをもとに、DataFrameを作れます。
dframe = ser.unstack()
dframe

          a         b         c
x  1.342761  0.746471 -0.109303
y  1.477530 -0.876496 -0.716099

In [16]:
dframe.unstack()

a  x    1.342761
   y    1.477530
b  x    0.746471
   y   -0.876496
c  x   -0.109303
   y   -0.716099
dtype: float64

In [17]:
# 逆もできます。 DataFrameに対してunstack()を行うとDataFrameでの列が外側のインデックスとなる。
#よって元のSeriesに戻すには転地させてからunstack()メソッドを呼ぶ
dframe.T.unstack()

x  a    1.342761
   b    0.746471
   c   -0.109303
y  a    1.477530
   b   -0.876496
   c   -0.716099
dtype: float64

In [18]:
#  DataFrameにも階層的なindexを作れます。
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [19]:
#階層的なindexに名前を付けられます。
# 行方向の名前
dframe2.index.names = ['INDEX_1','INDEX_2']
# 列方向の名前
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
# 階層構造を逆にすることができます。今回は列方向で試します。
dframe2.swaplevel('Cities','Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [21]:
#We can also sort levels
dframe2.sortlevel(1)  #引数は0:INDEX_1, 1:INDEX_2 を表す。

/Users/yohei/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [24]:
#sortlevels は非推奨なのでsort_index(level=...)を使うべき  axis=...で行:0、列:1の方向を変換できる

dframe2.sort_index(axis = 0, level = 0).sort_index(axis=0, level = 1) #level=1:INDEX_2  でソートした後、level=0:INDEX_1でソートするので上のセルと同じになる

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [29]:
#レベルに応じて計算も出来ます。   level=1としても良い
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27

In [24]:
print(ser.unstack())

          a         b         c
1 -0.902508 -0.208647 -1.825406
2  1.592969 -0.383372 -0.328984