In [10]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [11]:
ser1 = Series(range(3),index=['C','A','B'])
ser1

C    0
A    1
B    2
dtype: int64

In [22]:
# indexで並べ替え  ser1自体は中身は変化なし
ser1.sort_index()

A    1
B    2
C    0
dtype: int64

In [24]:
# 値で並べ替えももちろんできます。(sort_values() で変換)
ser1.sort_values()

C    0
A    1
B    2
dtype: int64

In [33]:
from numpy.random import randn
ser2 = Series(randn(10))
ser2

0    0.502672
1   -1.033596
2    0.448411
3   -2.421329
4    0.706886
5   -0.458514
6    2.048479
7   -1.318075
8    0.379245
9   -2.084051
dtype: float64

In [34]:
# 何番目に来るかを出せる。rank()メソッド
ser2.rank()

0     8.0
1     4.0
2     7.0
3     1.0
4     9.0
5     5.0
6    10.0
7     3.0
8     6.0
9     2.0
dtype: float64

In [35]:
ser2.sort_values()  #sort_valueは値をソートする。 ser2は変化しない。

3   -2.421329
9   -2.084051
7   -1.318075
1   -1.033596
5   -0.458514
8    0.379245
2    0.448411
0    0.502672
4    0.706886
6    2.048479
dtype: float64

In [37]:
#降順にソートするには引数にascending=Falseをとる
ser2.sort_values(ascending=False)

6    2.048479
4    0.706886
0    0.502672
2    0.448411
8    0.379245
5   -0.458514
1   -1.033596
7   -1.318075
9   -2.084051
3   -2.421329
dtype: float64

In [38]:
ser2

0    0.502672
1   -1.033596
2    0.448411
3   -2.421329
4    0.706886
5   -0.458514
6    2.048479
7   -1.318075
8    0.379245
9   -2.084051
dtype: float64

In [39]:
# 昇順ソートすると、ランクは順番通り。
ser2 = ser2.sort_values()
ser2.rank()

3     1.0
9     2.0
7     3.0
1     4.0
5     5.0
8     6.0
2     7.0
0     8.0
4     9.0
6    10.0
dtype: float64